{{#game}}
  <div class="breadcrumb-and-search row">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a></li>
      <li><a href="#/games">Games</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
  <hr>
  <div class="row product-info">
    <div class="left-section col-lg-8 row">
      <div class="thumbnail">
        <div class="row">
          <img class="" src="{{img}}" alt="game-poster">
          <div class="product-description">
            <h5>{{title}}</h5>
            <p>
              <span>Price: <b>{{price}} BGN</b></span>
              {{#if isOwner}}
                <p>
                  <button id="btn-delete-game" class="btn btn-danger" name="button">Delete</button>
                </p>
              {{else}}
                <p><a href="#/games/{{id}}" id="btn-buy-game" class="btn btn-primary" name="button">Buy</a></p>
              {{/if}}
            </p>
            <ul>Genres:
              {{#each genres}}
                <li><i class="glyphicon glyphicon-chevron-right"></i> {{this}}</li>
              {{/each}}
            </ul>
            <p>
              <span>For: <strong>{{platform}}</strong></span>
            </p>
            <p class="description">{{description}}</p>
          </div>
        </div>
        <div class="caption" data-game-id="{{id}}">

        </div>
      </div>
    </div>
    <div class="right-section col-lg-4">
      <p>
        comments
      </p>
    </div>
  </div>
{{/game}}
